{% from '_macros/form.html.twig' import button_row %}
{{ form_start(form) }}
  {{ form_row(form.name) }}
  {{ form_row(form.title) }}
  {{ form_row(form.description) }}
  {{ form_row(form.sidebar, { attr: { rows: 8 } }) }}
  {{ button_row(editing ? 'action.save'|trans : 'action.create'|trans) }}
{{ form_end(form) }}
