@improt (reference) '../_variables';

.site-forum-nav {
  background: var(--primary);

  &__container {
    width: 100%;
    padding: 0 1rem;
  }

  ul {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    > li {
      display: inline-block;
      margin: 0.1rem 0.25rem;
    }
  }

  a {
    padding: 0;
    cursor: pointer;
    font-size: @forum-nav-font-size;
    color: var(--accent-alt);
  }

  a:hover {
    color: var(--primary-fg);
    text-decoration: none;
  }
}
