{% block site_forum_nav %}
  <nav class="site-forum-nav">
    <div class="site-forum-nav__container content-container">
      <ul>
        <li>
          <a href="{{ path('front') }}" class="site-subnav__link">ALL</a>
        </li>
        {% for name in g_forums.findForumNames() %}
          <li>
            <a href="{{ path('forum', {forum_name: name}) }}" class="site-subnav__link">{{- name -}}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
{% endblock site_forum_nav %}
