{% extends 'base.html.twig' %}

{% block head %}
  {{ include('_includes/meta_pagination.html.twig', {pager: threads}, with_context=false) }}
{% endblock head %}

{% block site_nav_active 'notifications' %}
{% block title 'title.messages'|trans %}

{% block body %}
  {{ include('user/_inbox_nav.html.twig', { active: 'messages' }, with_context=false) }}

  <h1 class="page-heading">{{ block('title') }}</h1>

  {% embed '_layouts/table_pagination.html.twig' with { items: threads } %}
    {% block header %}
      <th>{{ 'label.title'|trans }}</th>
      <th class="table__shrink">{{ 'label.last_message'|trans }}</th>
      <th class="table__shrink">{{ 'label.replies'|trans }}</th>
      <th class="table__shrink">{{ 'label.participants'|trans }}</th>
    {% endblock header %}

    {% block row %}
      {% from '_macros/time.html.twig' import relative_time %}
      {% from 'user/_macros.html.twig' import user_link %}

      <td><strong><a href="{{ path('message_thread', {id: item.id}) }}">{{ item.title }}</a></strong></td>
      <td class="table__shrink text-align-right">
        {{ relative_time(item.messages|last.timestamp, { date_format: 'short' }) }}
      </td>
      <td class="table__shrink text-align-right">
        {{ (item.messages|length - 1)|format_number }}
      </td>
      <td class="table__shrink">
        {%- for participant in item.participants|filter(participant => participant is not same as(app.user)) -%}
          {{- loop.index != 1 ? ', ' -}}
          {{- user_link(participant) -}}
        {%- endfor -%}
      </td>
    {% endblock row %}

    {% block flash_message 'flash.no_messages'|trans %}
  {% endembed %}
{% endblock body %}
